#wrapper {
    background: linear-gradient(rgba(245,199,199, .8),rgba(246,227,109, .7) ),
                url(images/oasis.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

main {
    font-family: Papyrus;
    /*font-family: 'Dr Sugiyama', cursive;*/
    /*font-size: 1.75em;*/
    color: rgb(115,57,57);
    width: 75%;
    margin: 0 auto;
}

button {
    background-color: rgb(230,115,115);
    color: rgb(246,227,109);
    margin-top: 10px;
}

input {
    display: block;
    width: 190px;
    background-color: rgb(250,227,227);
    text-align: center;
}

input,
button {
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    border: 2px dotted rgb(115,57,57);
}

.hidden {
    visibility: hidden;
}

p {
    font-weight: bold;
}

#image-section {
    height: 150px;
}

#description {
    margin-bottom: 50px;
}


/******Classes for magic lamp fading******/
.mid-opacity {
    opacity: .6;
}

.low-opacity {
    opacity: .3;
}

/********************
MEDIA QUERIES
*******************/

@media (min-width: 732px) {
    #wrapper {
        height: 100vh;
        padding-top: 75px;
    }
}


